@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/inter-v11-latin-500.woff2') format('woff2'),
        url('../fonts/inter-v11-latin-500.woff') format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/inter-v11-latin-600.woff2') format('woff2'),
        url('../fonts/inter-v11-latin-600.woff') format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/inter-v11-latin-700.woff2') format('woff2'),
        url('../fonts/inter-v11-latin-700.woff') format('woff');
}

* {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: #E7E7E7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.site-main {
    margin: 10px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container {
    margin: 0 auto;
    padding: 0 20px;
    width: 1200px;
}
.main-section {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.main-section-left {
    margin: 0 10px 0 0;
    padding: 0;
    width: 570px;
    background-image: url(../pictures/Rectangle6.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.section-left-top {
    margin: 0;
    padding: 55px 123px 203px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-link {
    margin: 0;
    padding: 5px 15px;
    opacity: 0.8;
    border: 1px solid #FFFFFF;
    border-radius: 41px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.main-title {
    margin: 60px 0 25px 0;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

.main-text {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.bottom-link {
    margin: 0;
    padding: 29px 75px 28px 60px;
    display: block;
    font-style: normal;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background: #4DC490;
    border-radius: 0px 0px 20px 20px;
}

.main-section-right {
    margin: 0;
    padding: 55px 60px 40px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 570px;
    background: #FFFFFF;
    border-radius: 20px;
}

.main-section-right-title {
    margin: 0 0 65px 0;
    padding: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
}

.form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 450px;
}

.user-name {
    margin: 0;
    padding: 14px 5px;
    width: 450px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
    border: none;
    outline: none;
    border-bottom: 1px solid #555;
}

.user-name:hover {
    color: #000000;
    border-bottom: 2px solid #000000;
    cursor: pointer;
    /* outline: none; */
}

.form-btn {
    margin: 63px 0 8px 0;
    padding: 20px 100px;
    width: 450px;
    background: #655AF2;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    transition: all 0.3s;
}

.form-btn:hover {
    background-color: #000000;
    color: #fff;
    box-shadow: 2px 2px 5px 2px #555;
}

.form-text {
    margin: 0;
    padding: 0;
    width: 450px;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #555555;
    text-align: center;
}

.form-link {
    color: #ff4444;
    text-decoration: underline;
}